{{#if searchEnabled}}
  <div class="ember-power-select-search">
    <input type="search" autocomplete="off"
      autocorrect="off" autocapitalize="off"
      spellcheck="false"
      role='combobox'
      class="ember-power-select-search-input"
      value={{select.searchText}}
      aria-controls={{listboxId}}
      placeholder={{searchPlaceholder}}
      aria-describedby={{ariaDescribedBy}}
      aria-label={{ariaLabel}}
      aria-labelledby={{ariaLabelledBy}}
      oninput={{onInput}}
      onfocus={{onFocus}}
      onblur={{onBlur}}
      onkeydown={{action "onKeydown"}}>
  </div>
{{/if}}
